
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.header-align{
    text-align: center;
}
hr{
    padding: 0;
    margin: 0;
}
.nav-col{
    background-color: lightgrey;
}
.tlt{
    font-weight: bold;
}
.main{
    background-color: lightgrey;
    margin: 5px;
}
@media(max-width:360px){
    .main{
        width: 85%;
        display: block;
        margin: 0 auto;
    }
}
h2{
    text-align: center;
    padding-top: 5px;
}